<div class="container-fluid text-md-start mt-5">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="d-flex row about_row">
        <div class="col-md-6 col-12 text-center" data-aos="fade-up">
          <img  class="img-thumbnail thumbnail_img" src="<%= asset_path('thumbnail.jpg') %>" alt="create" />
        </div>
        <div class="col-md-6 col-sm-12 mt-2 about_me_data" >
         <div data-aos="fade-down">
            <h6 class="bio_title">BIOGRAPHY</h6>
            <h1 class="about_me_title">ABOUT ME</h1>
            <p>Hi! I am<span class="bio_title"> Vishwani Patlan</span>, a web developer focused on developing best products with good web development experiences. Coding have been my passion since the day I heard about programming. I enjoy creating intuitive and functional websites.
            I have worked for some of good startup agencies with wonderful teams to create some award winning works. And, I can make this happen for your business as well.</p>
            <a href="<%= about_path %>" role="button" class="btn know_more_button"><span class="btn-text">Know more about me  <i class="fas fa-long-arrow-alt-right"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
