<div class="container-fluid text-md-start mt-5">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="d-flex row about_row">
        <div class="col-md-6 col-12 text-center" data-aos="fade-up">
          <img  class="img-thumbnail thumbnail_img" src="<%= asset_path('thumbnail.jpg') %>" alt="create" />
        </div>
        <div class="col-md-6 col-sm-12 mt-2 about_me_data" >
         <div data-aos="fade-down">
            <h6 class="bio_title">BIOGRAPHY</h6>
            <h1 class="about_me_title">ABOUT ME</h1>
            <p>Hi! I am<span class="bio_title"> Vishwani Patlan</span>. Being a developer for 1.6+ years, I have been enjoying this journey in which I had learned, participated, and contributed to the various projects that I have been part of. I believe that actual coding is less than 50% of a developer's work. Right from understanding and analyzing the project requirements, I work on various other things to ensure the success of the project. I believe in solving the issue before I start coding. The design, architecture, plan is vital in creating a great stable, and callable product.</p>
            <%= link_to about_path, method: :get, class: 'btn know_more_button' do %>
              <span class="btn-text">Know more about me  <i class="fas fa-long-arrow-alt-right"></i></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
