<div class="container">
    <div class="mb-5" data-aos="fade">
      <h1 class="text-center" style="font-weight: bolder;">My Qualifications and Work Experince</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
       <div class="card text-center" data-aos="flip-up">
          <div class="card-header">
            GRADUATION
          </div>
          <div class="card-body">
            <h5 class="card-title">Bachelor of Technology</h5>
            <p class="card-text">Branch Electonics And Communication</p>
            <h6><strong>Result:</strong> 7.5 CGPA<p>(In scale of 10)</p></h6>
            <p><strong>Division Awarded: </strong>I-DIV HONS</p>
          </div>
          <div class="card-footer text-muted">
            Session: 2016-2020
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6"></div>
      <div class="col-md-6 col-12">
        <div class="card text-center" data-aos="flip-down">
          <div class="card-header">
            INTERMEDIATE
          </div>
          <div class="card-body">
            <h5 class="card-title">Science</h5>
            <p class="card-text">Physics Chemistry Maths (PCM)</p>
            <h6><strong>Result:</strong> 7.2<p>(In scale of 10)</p></h6>
            <p><strong>Division Awarded: </strong>I-DIV</p>
          </div>
          <div class="card-footer text-muted">
            Session: 2015-2016
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="card text-center" data-aos="flip-up">
          <div class="card-header">
            HIGH SCHOOL
          </div>
          <div class="card-body">
            <h5 class="card-title">Science</h5>
            <p class="card-text">Science Engish Hindi Math Social-Science</p>
            <h6><strong>Result:</strong> 9.2 CGPA<p>(In scale of 10)</p></h6>
            <p><strong>Division Awarded: </strong>I-DIV</p>
          </div>
          <div class="card-footer text-muted">
            Session: 2013-2014
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 col-12">
        <div class="card text-center" data-aos="flip-up">
          <div class="card-header">
            Software Developer
          </div>
          <div class="card-body">
            <h5 class="card-title">Ruby on Rails Developer</h5>
            <p class="card-text">GRK info services pvt ltd.</p>
            <h6><strong>Technology Worked on:</strong><p>ROR, Javascript , HTML, CSS, jQuery, etc.</p></h6>
            <p><strong>Award: </strong>Best Trainer</p>
          </div>
          <div class="card-footer text-muted">
            Session: 2020-Present
          </div>
        </div>
      </div>
    </div>
</div>