<div class="container-fluid text-md-start mt-5">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="d-flex row skills_row">
        <div class="col-md-6 col-12">
          <div class="container p-3 mt-3 mb-2 skill_block" data-aos="flip-left" style="background: #b4c1d4;">
            <h2 class="text-center mt-4">SKILLS</h3>
            <div class="row p-3">
              <div class="col-12 mb-2">
                <div class="mb-2">Ruby on rails</div>
                <div class="skill skill1" data-aos="fade-down">80%</div>
              </div>
               <div class="col-12 mb-2">
                <div class="mb-2">HTML</div>
                <div class="skill skill2" data-aos="fade-down">80%</div>
              </div>
               <div class="col-12 mb-2">
                <div class="mb-2">JavaScript</div>
                <div class="skill skill3" data-aos="fade-down">75%</div>
              </div>
               <div class="col-12 mb-2">
                <div class="mb-2">JQuery</div>
                <div class="skill skill4" data-aos="fade-down">70%</div>
              </div>
               <div class="col-12 mb-2">
                <div class="mb-2">Bootstrap</div>
                <div class="skill skill6" data-aos="fade-down">60%</div>
              </div>
              <div class="col-12 mb-2">
                <div class="mb-2">CSS</div>
                <div class="skill skill5" data-aos="fade-down">50%</div>
              </div>
              <div class="col-12 mb-2">
                <div class="mb-2">Git</div>
                <div class="skill skill6" data-aos="fade-down">60%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
           <div class="container p-3 mt-3 mb-3 p-3 tool_block" data-aos="flip-right" style="background: #b4c1d4;">
           <h2 class="text-center">Tools And Technologies Used</h3>
            <div class="row p-3 mb-4">
              <div class="col-md-6 col-6 item" data-aos="fade-down">
                <h5 class="text-center">Sublime Text 3</h5>
                <img class="tools_size sublime" src="<%= asset_path('sublime.png') %>">
              </div>
              <div class="col-6 col-md-6" data-aos="fade-down">
                <h5 class="text-center">VS Code</h5>
                <img class="tools_size vscode" src="<%= asset_path('vscode.png') %>">
              </div>
            </div>
             <div class="row p-3 mt-2">
              <div class="col-md-6 col-6" data-aos="fade-up">
                <h5 class="text-center">Github</h5>
                <img class="tools_size github " src="<%= asset_path('github.png') %>">
              </div>
              <div class="col-6 col-md-6" data-aos="fade-up">
                <h5 class="text-center">JIRA</h5>
                <img class="tools_size jira " src="<%= asset_path('jira.png') %>">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>