<div class="main-page">
  <div><%= render 'layouts/navbar' %></div>
  <div class="container-fluid my-3 shadow-lg bg-light ">
    <div class="row text-center px-3 align-items-center py-3">
      <div class="col-2 ">
        <%= link_to ('<i class="fa fa-arrow-left"></i>').html_safe, root_path, class:"mx-5 text-dark fs-1 align-items-start "%>
      </div>
      <div class="col-8">
        <h2 class="text-dark">ABOUT ME</h2>
      </div>
    </div>
  </div>
  <hr class="featurette-divider mx-5 text-light">
    <div class="container bg-light my-5 rounded-3 border shadow">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center ">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="text-dark fw-bold lh-1">Hello, I'M Vishwani Patlan Full Stack Developer From Delhi, India!</h1>
          <p class="lead fs-3 fst-italic my-5">
              Experienced software developer with a passion for developing innovative programs that
              expedite the  efficiency and effectiveness of organizational success. Well-versed in
              technology and writing code to create applications that are reliable and user-friendly.
              Skilled leader who has the proven ability to motivate, educate, and manage a team of
              professionals to build applications with quality. Confident communicator, strategic thinker,
              and innovative creator to develop software that is customized to meet a company’s organizational
              needs, and further their success.
            </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden ">
            <img class="bd-placeholder-img"style= "width: 600px; height: 600px;" src="<%= asset_path('ProfilePic.png') %>" alt="vishwani-image" >
        </div>
      </div>
    </div>
  <div class="container bg-light rounded-3 border shadow">
    <h2 class="text-center mt-3">Exeperince & Education</h2>
    <hr class="featurette-divider mx-5 text-dark">
    <div class="work-education row my-5">

      <div class="col-sm-12 col-md-6 col-lg-6">
        <ul class="work-ul">
          <span><div class="icon">
          <i class="fa fa-briefcase"></i></div><li class="work-experience-education">
            <span><p>2020-Present</p></span>
            <h4>Sofwatre Developer - <small>GRK Info Services Pvt Ltd</small></h4>
            <p>
              <ul>
                <li>Work on MVC Model View Controller architecture and frameworks.</li>
                <li>Re-write web pages in Ruby using Rails framework.</li>
                <li>Implement Ajax for dynamic updating of the part of a page, avoiding full page refresh.</li>
                <li>Develop validation methods in models to validate data input by users.</li>
                <li>Involved in gathering user requirements, system analysis, design, development, testing and implementation.</li>
                <li>Use of Git and GitHub repositories.</li>
                <li>Strong knowledge using the CRUD , create, read, update and delete methodology.</li>
              </ul>
            </p>
          </li></span>
        </ul>
      </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <ul class="education-ul">
        <span><div class="icon"><i class="fa fa-briefcase"></i></div><li class="work-experience-education">
          <span><p>2020</p></span>
          <h4>ENGINEERING DEGREE - Uttar Pradesh Technical University</h4>
          <p>Complete engineering in Electronics and Communication</p>
        </li></span>
        <span><div class="icon"><i class="fa fa-briefcase"></i></div><li class="work-experience-education">
          <span><p>2016</p></span>
          <h4>INTERMEDIATE - Lal Dayal Public School</h4>
          <p>Complete intermediate with PCM</p>
        </li></span>
        <span><div class="icon"><i class="fa fa-briefcase"></i></div><li class="work-experience-education">
          <span><p>2014</p></span>
          <h4>HIGH SCHOOL - Shri Ram Public School</h4>
          <p>Complete my schooling with subjects like Maths, Science, English, Hindi, Social Sciene</p>
        </li></span>
      </ul>
    </div>
  </div>
  </div>


  <hr class="featurette-divider mx-5 text-light">

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom text-center">More About Me</h2>
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

      <a href="/software" class="text-decoration-none">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"id="software">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-3 lh-1 fw-bold text-white">Software Info</h3>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects" class="text-decoration-none">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"id="project">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-3 lh-1 fw-bold text-white">Projects</h3>
           </div>
          </div>
        </div>
      </a>

    </div>
  </div>
</div>