<div class="container-fluid about_tag_head">
  <h1 class="text-center contact-title">Contact <span>ME <i class="fas fa-arrow-right"></i></span></h1>
</div>

<div class="container tools-technology">
  <div class="tools-tech-header">
    <h2 class="text-center">GET IN TOUCH!</h2>
  </div>
  <div id="success-mail-alert" class="alert alert-success container text-center" style="display: none;" role="alert">
    Your Message Send Successfully!
  </div>
  <div id="fail-mail-alert" class="alert alert-danger container text-center" style="display: none;" role="alert">
    Some Error Occured!
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4 contact-left">
      <ul>
        <li>
          <h4>DON'T BE SHY !</h4>
          <p>
            Feel free to get in touch with me.I am always open
            to discussing new projects, creative ideas or
            opportunities to be part of your visions.
          </p>
        </li>
        <li>
          <span><div><i class="fas fa-home"></i></div><p>ADDRESS</p></span>
          <p>Sagarpur,New Delhi,110046,India</p>
        </li>
        <li>
          <span><div><i class="fas fa-envelope-open"></i></div><p>MAIL ME</p></span>
          <p><a href="mailto:vishwani123patlan@gmail.com">vishwani123patlan@gmail.com</a></p>
        </li>
        <li>
          <span><div><i class="fas fa-phone-square-alt"></i></div><p>CALL ME</p></span>
          <p>+91-8755339910</p>
        </li>
        <li>
          <h6>FOLLOW ME</h6>
          <div class="social-media">
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
          </div>
        </li>
      </ul>
    </div>

    <div id="contact-form-section" class="col-md-8 col-lg-8 contact-form">
      <%= render 'contact_form'%>
    </div>
  </div>
</div>
