<div>
  <section>
    <div class="container-fluid text-md-start mt-5">
      <div class="row main_head_section">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 main-header">
          <div style="width: fit-content;margin:0 auto;" data-aos="zoom-in">
            <h2 class="text-center name">VISHWANI <span class="sirname">PATLAN</span></h2>
            <h3 class="text-center">I'm a web developer.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xl-5 mx-auto image-div" >
      <img  class="myImage" src="<%= asset_path('myimg.jpg') %>" alt="create" />
    </div>
  </section>

  <section class="about_me_section" data-aos="fade-down">
    <%= render 'profiles/about_section' %>
  </section>

  <section class="skills_section" data-aos="fade-down">
    <%= render 'profiles/skills_section' %>
  </section>

  <section class="container-fluid education_section" data-aos="fade-down">
    <%= render 'profiles/education' %>
  </section>
</div>
