<div class="main-page">
  <div><%= render 'layouts/navbar' %></div>
  <div class="container-fluid" >
    <div class="row d-flex justify-content-center text-center text-light my-5">
      <div class="col-2 d-flex flex-column justify-content-md-between my-5">
          <a href="/about" class="bg-white text-dark fw-bold p-3 fs-3 rounded-pill text-decoration-none ">About Me</a>
          <a href="/posts" class="bg-white text-dark fw-bold p-3 fs-3 rounded-pill text-decoration-none ">Personal Blogs</a>
          <a href="/social_handles" class="bg-white text-dark fw-bold p-3 fs-3 rounded-pill text-decoration-none ">Social Handles </a>
      </div>
      <div class="col-4 my-5">  
        <img src="<%= asset_path('about-section.png')%>" alt="my-image" style="width: 100%;">
      </div> 
      <div class="col-2 d-flex flex-column justify-content-md-between my-5"> 
          <a href="/projects" class="bg-white text-dark fw-bold p-3 fs-3 rounded-pill text-decoration-none ">Projects</a>
          <a href="/skills" class="bg-white text-dark fw-bold p-3 fs-3 rounded-pill text-decoration-none "> Skills </a>
          <a href="/contact" class="bg-white text-dark fw-bold p-3 fs-3 rounded-pill text-decoration-none ">Contact Me</a>
      </div>
      <div class="row d-flex justify-content-center text-center text-light my-3">
        <h2>Hi.. I'M Vishwani</h2>
        <p class="display-5 fw-bold">A Software Developer</p>
      </div>
    </div>
  </div>
</div>

