<div class="main-page">
  <div class="main-page-profile">
    <div class="main-text-profile">
      <h1>Hii...</h1>
      <h1>I'm <span>VISHWANI!</span></h1>
      <div class="profiles-button">
        <a href="/about" class="btn">Know More</a>
        <a href="/contact" class="btn">Contact Me </a>
      </div>
    </div>
    <div class="profile-image">
      <img class="my-display-image" src="<%= asset_path('ProfilePic.png')%>" alt="my-image">
    </div>
  </div>
</div>
