<div class="main-about-page">
  <div><%= render 'layouts/navbar' %></div>
  <div class="container-fluid my-3 shadow-lg bg-light ">
    <div class="row text-center px-3 align-items-center py-3">
      <div class="col-2 ">
        <%= link_to ('<i class="fa fa-arrow-left"></i>').html_safe, root_path, class:"text-dark fs-1 align-items-start "%>
      </div>
      <div class="col-8">
        <h2 class="text-center text-dark fs-2">CONTACT ME</h2>  
      </div>
      <div class="col-2">
        <img src="<%=asset_path('contact.png')%>" style= "width: 60px; height: 60px;" >
      </div>
    </div>
  </div>
    <p class="text-center fs-5 text-light fw-bold">
      { Feel free to get in touch with me. I am always open
      to Discussing New Projects, Creative ideas or
      opportunities to be part of your Visions.}
    </p>
    <hr class="featurette-divider mx-5 text-light">  
    <div id="success-mail-alert" class="alert alert-success container text-center" style="display: none;" role="alert">
          Your Message Send Successfully!
        </div>
        <div id="fail-mail-alert" class="alert alert-danger container text-center" style="display: none;" role="alert">
          Some Error Occured!
        </div> 
      <div class="container tools-technology my-4 bg-white">
        <div class="row">
          <div class="col-md-4 col-lg-4 contact-left">
            <ul>
              <li>
                <span><div><i class="fas fa-home"></i></div><p>ADDRESS</p></span>
                <p>Sagarpur,New Delhi,110046,India</p>
              </li>
              <li>
                <span><div><i class="fas fa-envelope-open"></i></div><p>MAIL ME</p></span>
                <p><a href="mailto:vishwani123patlan@gmail.com">vishwani123patlan@gmail.com</a></p>
              </li>
              <li>
                <span><div><i class="fas fa-phone-square-alt"></i></div><p>CALL ME</p></span>
                <p>+91-8755339910</p>
              </li>
              <li>
                <h6>FOLLOW ME</h6>
                <div class="social-media">
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-github"></i></a>
                </div>
              </li>
            </ul>
          </div>
          <div id="contact-form-section" class="col-md-8 col-lg-8 contact-form">
            <%= render 'contact_form'%>
          </div>
        </div>
      </div>
    <hr class="featurette-divider mx-5 text-light">
  </div>    
</div>

     