// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-about-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#e66465, #9198e5);
  h2{
    color: white;
    font-size: 4em;
    text-align: center;
    margin-left: 1%;
    font-family: "Times New Roman", Times, serif;
  }
    .about-page{
      display: flex;
      justify-content: space-evenly;
      margin: 2%;
      margin-bottom: 1%;

        .about-me{
          width: 42%;
          h4{
          color: white;
          font-size: 2.5em;
          font-family: "Times New Roman", Times, serif;
          }
          h6{
            font-size: 2em;
          }
        }
    .about-page-image{
      width: 35%;
      margin-bottom: 1%;
      img{
      width: 100%;
      }
    }  
    }
    .more-btn{
      width: 50%;
      display: flex;
      margin-left: 5%;
      margin-bottom: 3%;
      justify-content: space-around;
    }
}

.modal-title{
  text-align: center;
}
.modal-body{
  background-image: linear-gradient(to bottom, #ffffff, #e6dde9, #d6bacb, #c997a4, #b77676);
}

#software{
  background-image: url('shiv.jpg');
}

#project{
  background-image: url('shiv.jpg');
}