.navbar{
  background: #C4C4C4;
  height:96px;
  .navbar_main_container {
    .navbar-brand{
      font-size: 80px;
      font-weight: bold;
      font-family: Roboto;
      color: #CF3B70;
    }
  }
}
.navbar .navbar_main_container{
  padding: 0;
  max-width: 1650px;
}
.navbar .navbar_main_container a{
  font-size: 40px;
  text-decoration: none;
  font-weight: 800;
  color: #e4ca06;
}
.navbar .navbar_container a{
  position: relative;
  justify-content: space-around;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  color: black;
  margin-right: 40px;
}

.navbar .navbar_container li a:hover{
  color: white;
  trasition: 5000;
}

.sign_up_button{
  width: 150px;
}

.sign_in_button{
  width: 150px;
  margin-right: 5px;
}

.footer{
  margin-top:15%;
  background: #CF3B70;
}

.footer-heading h6{
  font-size: 20px;
  color: white;
}

.footer-heading p{
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.footer-social-media a{
  font-size: 17px;
  background: #ecece4;
  padding: 5px;
  border-radius: 10px;
}

.social-heading{
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 1780px) {
  .navbar{
    .navbar_main_container {
      .navbar-brand{
        margin-left: 1.2em;
      }
    }
  }
}
