<nav class="navbar  navbar-expand-lg">
  <div class="container navbar_main_container">
    <%= link_to 'V.P', root_path, method: :get, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar_container navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <%= link_to 'Home', '/', method: :get, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Me', '/about',method: :get, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link"  href="/contact">Contact Me</a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link" href="#">My Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
